html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  position: center;
}

form {
  display: inline-block;
  text-align: center;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

a
  {
    display: block;
    padding-left: 8px;
    font-style: italic;
  }
a:hover
{
  text-shadow: 2px 2px 5px yellow;
  color: blue;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  align-items: center;
  text-align: center;
  font-size: small;
}

.link-l {
  float: left;
  padding-right: 20px;
}

.link-r {
  float: right;
  padding-right: 20px:
}

.smallimg {
  padding-bottom: 5px;
  height: 25px;
  width: 25px;
  opacity: .7;
}

#logo   {
  padding-top: 20%;
  position:relative;
  text-align: center;
}

.searchbuttons {
    font: 16px arial,sans-serif;
        font-size: 16px;
        line-height: normal;
    line-height: 34px;
    height: 34px !important;
}
