body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

form {
  display: inline-block;
  text-align: center;
}

a
  {
    display: block;
    padding-left: 8px;
    font-style: italic;
  }
a:hover
{
  text-shadow: 2px 2px 5px yellow;
  color: blue;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  align-items: center;
  text-align: center;
  font-size: small;
}

.link-l {
  float: left;
  padding-right: 20px;
}

.link-r {
  float: right;
  padding-right: 20px:
}

.smallimg {
  height: 30px;
  width: 30px;
  opacity: .7;
}
#logo   {
  padding-top: 20%;
  position:relative;
  text-align: center;
}

.ssearch {
    background-color: transparent;
    border: none;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}
.searchbuttons {
    font: 16px arial,sans-serif;
        font-size: 16px;
        line-height: normal;
    line-height: 34px;
    height: 34px !important;
}
